<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057108133377-fir47q2d98jc9v37tjsl3fvin79poh57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057108133377-fir47q2d98jc9v37tjsl3fvin79poh57</string>
	<key>API_KEY</key>
	<string>AIzaSyBwMMfULGvI_a9qB1C-EWRFR3n9xvZxJLo</string>
	<key>GCM_SENDER_ID</key>
	<string>1057108133377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegisterApp</string>
	<key>PROJECT_ID</key>
	<string>login-register-app-ui</string>
	<key>STORAGE_BUCKET</key>
	<string>login-register-app-ui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057108133377:ios:1fba52c053cd00e864a200</string>
</dict>
</plist>